{{ clockwork_config | to_toml }}

{% for cluster in clockwork_clusters %}
[clusters.{{ cluster.name }}]
account_field="{{ cluster.account_field }}"
{% if cluster.update_field %}
update_field="{{ cluster.update_field }}"
{% else %}
update_field=false
{% endif %}
{% if cluster.allocations == "*" %}
allocations="*"
{% else %}
allocations={{ cluster.allocations }}
{% endif %}
timezone="{{ cluster.timezone }}"
{% if cluster.organization is defined %}
organization="{{ cluster.organization }}"
{% endif %}
nbr_cpus={{ cluster.nbr_cpus | default(0) }}
nbr_gpus={{ cluster.nbr_gpus | default(0) }}
{% if cluster.official_documentation is defined %}
official_documentation="{{ cluster.official_documentation }}"
{% endif %}
{% if cluster.mila_documentation is defined %}
mila_documentation="{{ cluster.mila_documentation }}"
{% endif %}
display_order={{ cluster.display_order | default(9999) }}
{% if cluster.sacct_enabled %}
remote_user="{{ cluster.remote_user }}"
remote_hostname="{{ cluster.remote_hostname }}"
ssh_port={{ cluster.ssh_port }}
sacct_enabled=true
sacct_path="{{ cluster.sacct_path }}"
sinfo_path="{{ cluster.sinfo_path }}"
ssh_key_filename="{{ cluster.ssh_key_filename | default('id_clockwork') }}"
{% endif %}

{% endfor %}
