[Unit]
Description=clockwork slurm scraper
After=network.target

[Service]
Type=oneshot
User={{ clockwork_user }}
Group={{ clockwork_group }}
Environment=CLOCKWORK_CONFIG=/etc/clockwork/clockwork.toml
Environment=PYTHONPATH={{ clockwork_install_path }}

WorkingDirectory={{ clockwork_install_path }}
ExecStart=python3 slurm_state/read_report_commit_to_db.py --slurm_jobs_file={{ clockwork_user_home }}/reports/{{ item.name }}/jobs_file --slurm_nodes_file={{ clockwork_user_home }}/reports/{{ item.name }}/nodes_file --cluster_name={{ item.name }}  --store_in_db --cw_jobs_file {{clockwork_user_home }}/reports/sacct.json --cw_nodes_file {{clockwork_user_home }}/reports/sinfo.json
