[flask]
testing=false
login_disabled=false
secret_key="{{ clockwork_secret_key }}"

[google]
client_id="{{ clockwork_google_client_id }}"
client_secret="{{ clockwork_google_client_secret }}"

[mongo]
connection_string="{{ clockwork_mongodb_connection_string }}"

[translation]
translations_folder="static/locales"
available_languages=["en", "fr"]

[settings.default_values]
nbr_items_per_page=25
dark_mode=false
language="en"

{% for cluster in clockwork_clusters %}

[clusters.{{ cluster.name }}]
account_field="{{ cluster.account_field }}"
{% if cluster.update_field %}
update_field="{{ cluster.update_field }}"
{% else %}
update_field=false
{% endif %}
{% if cluster.allocations == "*" %}
allocations="*"
{% else %}
allocations={{ cluster.allocations }}
{% endif %}
timezone="{{ cluster.timezone }}"
remote_user="{{ cluster.remote_user }}"
remote_hostname="{{ cluster.remote_hostname }}"
{% if cluster.sacct_enabled %}
sacct_enabled={{ cluster.sacct_enabled }}
{% else %}
sacct_enabled=false
{% endif %}
sacct_path="{{ cluster.sacct_path }}"
sacct_ssh_key_filename="{{ cluster.sacct_ssh_key_filename }}"

{% endfor %}
