[Unit]
Description=clockwork web server
After=network.target

[Service]
User={{ clockwork_user }}
Group={{ clockwork_group }}
Environment=CLOCKWORK_CONFIG={{ clockwork_install_path }}/clockwork.toml

WorkingDirectory={{ clockwork_install_path }}
ExecStart=uwsgi --ini {{ clockwork_install_path }}/uwsgi.ini

[Install]
WantedBy=multi-user.target
