[Unit]
Description=clockwork web server
After=network.target

[Service]
User={{ clockwork_user }}
Group={{ clockwork_group }}
Environment=CLOCKWORK_CONFIG=/clockwork/clockwork.toml

WorkingDirectory=/clockwork
ExecStart=uwsgi --ini /clockwork/uwsgi.ini

[Install]
WantedBy=multi-user.target
