[Unit]
Description=Update clusters status in clockwork.
Requires=clockwork-clusters-status.service

[Timer]
Unit=clockwork-clusters-status.service
OnCalendar=*-*-* 00:00:00
AccuracySec=2min

[Install]
WantedBy=timers.target
