[Unit]
Description=Update clusters status in clockwork.
Requires=clockwork-cluster-status.service

[Timer]
Unit=clockwork-cluster-status.service
OnCalendar=*-*-*-* 00:00:00
AccuracySec=2min

[Install]
WantedBy=timers.target
